<?xml version="1.0"?>
<launch>
  <arg name="uav_id" default="1"/>
  <arg name="uav_name" default="uav"/>

  <node pkg="2025_uav_competiton_demo"
        type="APF_demo.py"
        name="APF_demo"
        output="screen">
    <param name="uav_id" value="$(arg uav_id)"/>
    <param name="uav_name" value="$(arg uav_name)"/>
  </node>
</launch>
