<?xml version="1.0"?>
<launch>
  <arg name="uav_id" default="1"/>
  <arg name="uav_name" default="uav"/>
  <arg name="enable_rviz" default="true" />
  <arg name="sim" default="true" />

  <param name="sim" value="$(arg sim)"/>

  <node pkg="2025_uav_competiton_demo"
        type="Astar_demo.py"
        name="Astar_demo"
        output="screen">
    <param name="uav_id" value="$(arg uav_id)"/>
    <param name="uav_name" value="$(arg uav_name)"/>
  </node>

  <group if="$(arg enable_rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find 2025_uav_competiton_demo)/config/view_path.rviz" />
  </group>
</launch>
