<launch>
  <arg name="uav_num" default="2"/>
  <arg name="target1_x" default="4.0"/>
  <arg name="target1_y" default="-1.0"/>
  <arg name="target1_z" default="1.0"/>
  <arg name="target2_x" default="4.0"/>
  <arg name="target2_y" default="1.0"/>
  <arg name="target2_z" default="1.0"/>
  <arg name="target3_x" default="4.0"/>
  <arg name="target3_y" default="0.0"/>
  <arg name="target3_z" default="1.25"/>
  <arg name="max_vel" default="0.8"/>
  <arg name="max_acc" default="0.8"/>
  <arg name="planning_horizon" default="5.0"/>
  <arg name="map_size_x" default="40.0"/>
  <arg name="map_size_y" default="40.0"/>
  <arg name="map_size_z" default="2.5"/>
  <arg name="flight_type" default="4"/>

  <include file="$(env PROJECT_ROOT)/Scripts/sunray/ego_single_px4ctrl_goal4.launch">
    <arg name="drone_id" value="0"/>
    <arg name="target_x" value="$(arg target1_x)"/>
    <arg name="target_y" value="$(arg target1_y)"/>
    <arg name="target_z" value="$(arg target1_z)"/>
    <arg name="max_vel" value="$(arg max_vel)"/>
    <arg name="max_acc" value="$(arg max_acc)"/>
    <arg name="planning_horizon" value="$(arg planning_horizon)"/>
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="odom_topic" value="/uav1/mavros/local_position/odom"/>
    <arg name="global_pointcloud_topic" value="/uav1/livox_world"/>
    <arg name="position_cmd_topic" value="/uav1/planner_position_cmd_raw"/>
    <arg name="flight_type" value="$(arg flight_type)"/>
    <arg name="goal_topic" value="/uav1/move_base_simple/goal"/>
  </include>

  <group if="$(eval int(arg('uav_num')) >= 2)">
    <include file="$(env PROJECT_ROOT)/Scripts/sunray/ego_single_px4ctrl_goal4.launch">
      <arg name="drone_id" value="1"/>
      <arg name="target_x" value="$(arg target2_x)"/>
      <arg name="target_y" value="$(arg target2_y)"/>
      <arg name="target_z" value="$(arg target2_z)"/>
      <arg name="max_vel" value="$(arg max_vel)"/>
      <arg name="max_acc" value="$(arg max_acc)"/>
      <arg name="planning_horizon" value="$(arg planning_horizon)"/>
      <arg name="map_size_x" value="$(arg map_size_x)"/>
      <arg name="map_size_y" value="$(arg map_size_y)"/>
      <arg name="map_size_z" value="$(arg map_size_z)"/>
      <arg name="odom_topic" value="/uav2/mavros/local_position/odom"/>
      <arg name="global_pointcloud_topic" value="/uav2/livox_world"/>
      <arg name="position_cmd_topic" value="/uav2/planner_position_cmd_raw"/>
      <arg name="flight_type" value="$(arg flight_type)"/>
      <arg name="goal_topic" value="/uav2/move_base_simple/goal"/>
    </include>
  </group>

  <group if="$(eval int(arg('uav_num')) >= 3)">
    <include file="$(env PROJECT_ROOT)/Scripts/sunray/ego_single_px4ctrl_goal4.launch">
      <arg name="drone_id" value="2"/>
      <arg name="target_x" value="$(arg target3_x)"/>
      <arg name="target_y" value="$(arg target3_y)"/>
      <arg name="target_z" value="$(arg target3_z)"/>
      <arg name="max_vel" value="$(arg max_vel)"/>
      <arg name="max_acc" value="$(arg max_acc)"/>
      <arg name="planning_horizon" value="$(arg planning_horizon)"/>
      <arg name="map_size_x" value="$(arg map_size_x)"/>
      <arg name="map_size_y" value="$(arg map_size_y)"/>
      <arg name="map_size_z" value="$(arg map_size_z)"/>
      <arg name="odom_topic" value="/uav3/mavros/local_position/odom"/>
      <arg name="global_pointcloud_topic" value="/uav3/livox_world"/>
      <arg name="position_cmd_topic" value="/uav3/planner_position_cmd_raw"/>
      <arg name="flight_type" value="$(arg flight_type)"/>
      <arg name="goal_topic" value="/uav3/move_base_simple/goal"/>
    </include>
  </group>
</launch>
