<launch>
  <arg name="drone_id" default="0"/>
  <arg name="target_x" default="4.0"/>
  <arg name="target_y" default="0.0"/>
  <arg name="target_z" default="1.0"/>
  <arg name="max_vel" default="0.8"/>
  <arg name="max_acc" default="0.8"/>
  <arg name="max_jer" default="4.0"/>
  <arg name="planning_horizon" default="5.0"/>
  <arg name="grid_resolution" default="0.12"/>
  <arg name="obstacles_inflation" default="0.20"/>
  <arg name="obstacle_clearance" default="0.20"/>
  <arg name="obstacle_clearance_soft" default="0.40"/>
  <arg name="virtual_ceil_height" default="1.6"/>
  <arg name="visualization_truncate_height" default="1.5"/>
  <arg name="map_size_x" default="40.0"/>
  <arg name="map_size_y" default="40.0"/>
  <arg name="map_size_z" default="2.5"/>
  <arg name="odom_topic" default="/uav1/mavros/local_position/odom"/>
  <arg name="global_pointcloud_topic" default="/uav1/livox_world"/>
  <arg name="position_cmd_topic" default="/position_cmd"/>

  <node pkg="ego_planner" name="drone_$(arg drone_id)_ego_planner_node" type="ego_planner_node" output="screen">
    <remap from="~odom_world" to="$(arg odom_topic)"/>
    <remap from="~mandatory_stop" to="/mandatory_stop_to_planner"/>
    <remap from="~planning/trajectory" to="/drone_$(arg drone_id)_planning/trajectory"/>
    <remap from="~planning/data_display" to="/drone_$(arg drone_id)_planning/data_display"/>
    <remap from="~planning/broadcast_traj_send" to="/broadcast_traj_from_planner"/>
    <remap from="~planning/broadcast_traj_recv" to="/broadcast_traj_to_planner"/>
    <remap from="~planning/heartbeat" to="/drone_$(arg drone_id)_traj_server/heartbeat"/>
    <remap from="/goal" to="/goal_with_id"/>
    <remap from="~grid_map/odom" to="$(arg odom_topic)"/>
    <remap from="~grid_map/cloud" to="$(arg global_pointcloud_topic)"/>
    <remap from="~grid_map/pose" to="/unused/camera_pose"/>
    <remap from="~grid_map/depth" to="/unused/depth"/>

    <param name="fsm/flight_type" value="1" type="int"/>
    <param name="fsm/thresh_replan_time" value="1.0" type="double"/>
    <param name="fsm/planning_horizon" value="$(arg planning_horizon)" type="double"/>
    <param name="fsm/emergency_time" value="1.0" type="double"/>
    <param name="fsm/realworld_experiment" value="true" type="bool"/>
    <param name="fsm/fail_safe" value="true" type="bool"/>
    <param name="fsm/ground_height_measurement" value="false" type="bool"/>
    <param name="fsm/waypoint_num" value="1" type="int"/>
    <param name="fsm/waypoint0_x" value="$(arg target_x)" type="double"/>
    <param name="fsm/waypoint0_y" value="$(arg target_y)" type="double"/>
    <param name="fsm/waypoint0_z" value="$(arg target_z)" type="double"/>

    <param name="grid_map/pose_type" value="1" type="int"/>
    <param name="grid_map/frame_id" value="world"/>
    <param name="grid_map/odom_depth_timeout" value="1.0" type="double"/>
    <param name="grid_map/resolution" value="$(arg grid_resolution)" type="double"/>
    <param name="grid_map/map_size_x" value="$(arg map_size_x)" type="double"/>
    <param name="grid_map/map_size_y" value="$(arg map_size_y)" type="double"/>
    <param name="grid_map/map_size_z" value="$(arg map_size_z)" type="double"/>
    <param name="grid_map/local_update_range_x" value="5.5" type="double"/>
    <param name="grid_map/local_update_range_y" value="5.5" type="double"/>
    <param name="grid_map/local_update_range_z" value="2.0" type="double"/>
    <param name="grid_map/obstacles_inflation" value="$(arg obstacles_inflation)" type="double"/>
    <param name="grid_map/local_map_margin" value="10" type="int"/>
    <param name="grid_map/enable_virtual_wall" value="true" type="bool"/>
    <param name="grid_map/virtual_ceil" value="$(arg virtual_ceil_height)" type="double"/>
    <param name="grid_map/virtual_ground" value="-0.1" type="double"/>
    <param name="grid_map/cx" value="321.04638671875" type="double"/>
    <param name="grid_map/cy" value="243.44969177246094" type="double"/>
    <param name="grid_map/fx" value="387.229248046875" type="double"/>
    <param name="grid_map/fy" value="387.229248046875" type="double"/>
    <param name="grid_map/use_depth_filter" value="true" type="bool"/>
    <param name="grid_map/depth_filter_tolerance" value="0.15" type="double"/>
    <param name="grid_map/depth_filter_maxdist" value="5.0" type="double"/>
    <param name="grid_map/depth_filter_mindist" value="0.2" type="double"/>
    <param name="grid_map/depth_filter_margin" value="2" type="int"/>
    <param name="grid_map/k_depth_scaling_factor" value="1000.0" type="double"/>
    <param name="grid_map/skip_pixel" value="2" type="int"/>
    <param name="grid_map/p_hit" value="0.65" type="double"/>
    <param name="grid_map/p_miss" value="0.35" type="double"/>
    <param name="grid_map/p_min" value="0.12" type="double"/>
    <param name="grid_map/p_max" value="0.90" type="double"/>
    <param name="grid_map/p_occ" value="0.80" type="double"/>
    <param name="grid_map/fading_time" value="1000.0" type="double"/>
    <param name="grid_map/min_ray_length" value="0.1" type="double"/>
    <param name="grid_map/show_occ_time" value="false" type="bool"/>

    <param name="manager/max_vel" value="$(arg max_vel)" type="double"/>
    <param name="manager/max_acc" value="$(arg max_acc)" type="double"/>
    <param name="manager/polyTraj_piece_length" value="1.5" type="double"/>
    <param name="manager/feasibility_tolerance" value="0.05" type="double"/>
    <param name="manager/planning_horizon" value="$(arg planning_horizon)" type="double"/>
    <param name="manager/use_multitopology_trajs" value="false" type="bool"/>
    <param name="manager/drone_id" value="$(arg drone_id)" type="int"/>

    <param name="optimization/constraint_points_perPiece" value="5" type="int"/>
    <param name="optimization/weight_obstacle" value="10000.0" type="double"/>
    <param name="optimization/weight_obstacle_soft" value="5000.0" type="double"/>
    <param name="optimization/weight_swarm" value="10000.0" type="double"/>
    <param name="optimization/weight_feasibility" value="10000.0" type="double"/>
    <param name="optimization/weight_sqrvariance" value="10000.0" type="double"/>
    <param name="optimization/weight_time" value="10.0" type="double"/>
    <param name="optimization/obstacle_clearance" value="$(arg obstacle_clearance)" type="double"/>
    <param name="optimization/obstacle_clearance_soft" value="$(arg obstacle_clearance_soft)" type="double"/>
    <param name="optimization/swarm_clearance" value="0.15" type="double"/>
    <param name="optimization/max_vel" value="$(arg max_vel)" type="double"/>
    <param name="optimization/max_acc" value="$(arg max_acc)" type="double"/>
    <param name="optimization/max_jer" value="$(arg max_jer)" type="double"/>
    <param name="optimization/record_opt" value="true" type="bool"/>
  </node>

  <node pkg="ego_planner" name="drone_$(arg drone_id)_traj_server" type="traj_server" output="screen">
    <remap from="position_cmd" to="$(arg position_cmd_topic)"/>
    <remap from="~planning/trajectory" to="/drone_$(arg drone_id)_planning/trajectory"/>
    <param name="traj_server/time_forward" value="0.5" type="double"/>
  </node>
</launch>
