<launch>
  <arg name="odom_topic" default="/uav1/mavros/local_position/odom"/>
  <arg name="sensor_pose_topic" default="/uav1/mavros/local_position/pose"/>
  <arg name="global_pointcloud_topic" default="/uav1/livox_world"/>
  <arg name="cloud_topic" default="$(arg global_pointcloud_topic)"/>
  <arg name="depth_topic" default="/mosim/fuel/depth_unused"/>

  <arg name="target_x" default="0.0"/>
  <arg name="target_y" default="0.0"/>
  <arg name="target_z" default="1.0"/>
  <arg name="map_size_x" default="12.0"/>
  <arg name="map_size_y" default="12.0"/>
  <arg name="map_size_z" default="4.0"/>
  <arg name="box_min_x" default="-6.0"/>
  <arg name="box_min_y" default="-6.0"/>
  <arg name="box_min_z" default="0.0"/>
  <arg name="box_max_x" default="6.0"/>
  <arg name="box_max_y" default="6.0"/>
  <arg name="box_max_z" default="2.5"/>
  <arg name="init_x" default="0.0"/>
  <arg name="init_y" default="0.0"/>
  <arg name="init_z" default="1.0"/>
  <arg name="max_vel" default="0.8"/>
  <arg name="max_acc" default="0.8"/>
  <arg name="random_seed" default="$(optenv FUEL_RANDOM_SEED 1)"/>
  <arg name="max_ray_length" default="4.5"/>
  <arg name="cloud_free_space_rays_enable" default="false"/>
  <arg name="cloud_free_space_ray_count" default="72"/>
  <arg name="cloud_free_space_ray_length_margin" default="0.5"/>
  <arg name="diagnose_pointcloud_raycast" default="false"/>
  <arg name="diagnose_pointcloud_raycast_throttle_s" default="5.0"/>
  <arg name="perception_max_dist" default="4.5"/>
  <arg name="perception_vis_dist" default="1.0"/>
  <arg name="perception_top_angle" default="0.56125"/>
  <arg name="perception_left_angle" default="0.69222"/>
  <arg name="perception_right_angle" default="0.68901"/>
  <arg name="perception_omni_horizontal" default="false"/>
  <arg name="frontier_cluster_min" default="100"/>
  <arg name="frontier_cluster_size_xy" default="2.0"/>
  <arg name="frontier_min_visib_num" default="15"/>
  <arg name="frontier_min_view_finish_fraction" default="0.2"/>
  <arg name="frontier_min_candidate_clearance" default="0.21"/>
  <arg name="frontier_candidate_dphi" default="$(eval 15 * 3.1415926 / 180.0)"/>
  <arg name="frontier_candidate_rnum" default="3"/>
  <arg name="frontier_candidate_rmin" default="1.5"/>
  <arg name="frontier_candidate_rmax" default="2.5"/>
  <arg name="frontier_allow_near_unknown_candidate" default="false"/>
  <arg name="frontier_allow_unknown_ray_visibility" default="false"/>
  <arg name="frontier_diagnose_cluster_viewpoints" default="false"/>
  <arg name="frontier_diagnose_cluster_log_limit" default="20"/>
  <arg name="exploration_refine_local" default="true"/>
  <arg name="exploration_refined_radius" default="5.0"/>
  <arg name="exploration_top_view_num" default="15"/>
  <arg name="exploration_near_frontier_escape_enable" default="false"/>
  <arg name="exploration_near_frontier_escape_distance" default="0.75"/>
  <arg name="exploration_near_frontier_escape_max_speed" default="0.25"/>
  <arg name="exploration_near_frontier_escape_alternative_distance" default="2.0"/>
  <arg name="exploration_global_expansion_bias_enable" default="false"/>
  <arg name="exploration_global_expansion_bias_rank_window" default="12"/>
  <arg name="exploration_global_expansion_bias_dist_weight" default="0.35"/>
  <arg name="exploration_global_expansion_bias_lateral_weight" default="0.65"/>
  <arg name="exploration_global_expansion_bias_axis" default="-1"/>
  <arg name="exploration_global_expansion_bias_min_gain" default="2.0"/>
  <arg name="exploration_global_expansion_bias_override_refine" default="false"/>
  <arg name="exploration_coverage_expansion_enable" default="false"/>
  <arg name="exploration_coverage_expansion_axis" default="1"/>
  <arg name="exploration_coverage_expansion_rank_window" default="20"/>
  <arg name="exploration_coverage_expansion_min_gain" default="1.0"/>
  <arg name="exploration_coverage_expansion_dist_weight" default="0.05"/>
  <arg name="exploration_coverage_expansion_grid_resolution" default="2.0"/>
  <arg name="exploration_coverage_expansion_sensor_radius" default="8.0"/>
  <arg name="exploration_coverage_expansion_project_horizon" default="5.0"/>
  <arg name="exploration_coverage_expansion_grid_weight" default="1.0"/>
  <arg name="exploration_coverage_expansion_span_weight" default="0.2"/>
  <arg name="exploration_coverage_expansion_uncovered_target_weight" default="0.0"/>
  <arg name="exploration_coverage_expansion_score_committed_goal" default="false"/>
  <arg name="exploration_coverage_expansion_direct_uncovered_fallback" default="false"/>
  <arg name="exploration_coverage_expansion_global_selector" default="false"/>
  <arg name="exploration_coverage_expansion_log_candidates" default="false"/>
  <arg name="p_occ" default="0.80"/>
  <arg name="obstacles_inflation" default="0.099"/>
  <arg name="sdf_optimistic" default="true"/>
  <arg name="search_optimistic" default="true"/>
  <arg name="fuel_virtual_ceil_height" default="1.8"/>
  <arg name="search_horizon" default="7.0"/>
  <arg name="astar_max_search_time" default="0.01"/>
  <arg name="astar_diagnose_rejection" default="false"/>
  <arg name="astar_diagnose_rejection_throttle_s" default="1.0"/>
  <arg name="manager_local_segment_length" default="6.0"/>
  <arg name="replan_time_s" default="0.5"/>

  <!-- Declared for compatibility with the shared Goal4 runner. FUEL does not
       consume these EGO/Diff-specific launch args directly. -->
  <arg name="max_jer" default="4.0"/>
  <arg name="planning_horizon" default="5.0"/>
  <arg name="grid_resolution" default="0.1"/>
  <arg name="optimization_dist0" default="0.7"/>
  <arg name="obstacle_clearance" default="0.2"/>
  <arg name="obstacle_clearance_soft" default="0.2"/>
  <arg name="virtual_ceil_height" default="-10.0"/>
  <arg name="visualization_truncate_height" default="10.09"/>

  <include file="$(optenv MOSIM_PROJECT_ROOT /mnt/c/Users/HP/Desktop/MoSim)/Scripts/sunray/fuel_factory_algorithm.xml">
    <arg name="map_size_x_" value="$(arg map_size_x)"/>
    <arg name="map_size_y_" value="$(arg map_size_y)"/>
    <arg name="map_size_z_" value="$(arg map_size_z)"/>

    <arg name="box_min_x" value="$(arg box_min_x)"/>
    <arg name="box_min_y" value="$(arg box_min_y)"/>
    <arg name="box_min_z" value="$(arg box_min_z)"/>
    <arg name="box_max_x" value="$(arg box_max_x)"/>
    <arg name="box_max_y" value="$(arg box_max_y)"/>
    <arg name="box_max_z" value="$(arg box_max_z)"/>

    <arg name="odometry_topic" value="$(arg odom_topic)"/>
    <arg name="sensor_pose_topic" value="$(arg sensor_pose_topic)"/>
    <arg name="depth_topic" value="$(arg depth_topic)"/>
    <arg name="cloud_topic" value="$(arg cloud_topic)"/>

    <arg name="cx" value="321.04638671875"/>
    <arg name="cy" value="243.44969177246094"/>
    <arg name="fx" value="387.229248046875"/>
    <arg name="fy" value="387.229248046875"/>
    <arg name="max_vel" value="$(arg max_vel)"/>
    <arg name="max_acc" value="$(arg max_acc)"/>
    <arg name="random_seed" value="$(arg random_seed)"/>
    <arg name="grid_resolution" value="$(arg grid_resolution)"/>
    <arg name="max_ray_length" value="$(arg max_ray_length)"/>
    <arg name="cloud_free_space_rays_enable" value="$(arg cloud_free_space_rays_enable)"/>
    <arg name="cloud_free_space_ray_count" value="$(arg cloud_free_space_ray_count)"/>
    <arg name="cloud_free_space_ray_length_margin" value="$(arg cloud_free_space_ray_length_margin)"/>
    <arg name="diagnose_pointcloud_raycast" value="$(arg diagnose_pointcloud_raycast)"/>
    <arg name="diagnose_pointcloud_raycast_throttle_s" value="$(arg diagnose_pointcloud_raycast_throttle_s)"/>
    <arg name="perception_max_dist" value="$(arg perception_max_dist)"/>
    <arg name="perception_vis_dist" value="$(arg perception_vis_dist)"/>
    <arg name="perception_top_angle" value="$(arg perception_top_angle)"/>
    <arg name="perception_left_angle" value="$(arg perception_left_angle)"/>
    <arg name="perception_right_angle" value="$(arg perception_right_angle)"/>
    <arg name="perception_omni_horizontal" value="$(arg perception_omni_horizontal)"/>
    <arg name="frontier_cluster_min" value="$(arg frontier_cluster_min)"/>
    <arg name="frontier_cluster_size_xy" value="$(arg frontier_cluster_size_xy)"/>
    <arg name="frontier_min_visib_num" value="$(arg frontier_min_visib_num)"/>
    <arg name="frontier_min_view_finish_fraction" value="$(arg frontier_min_view_finish_fraction)"/>
    <arg name="frontier_min_candidate_clearance" value="$(arg frontier_min_candidate_clearance)"/>
    <arg name="frontier_candidate_dphi" value="$(arg frontier_candidate_dphi)"/>
    <arg name="frontier_candidate_rnum" value="$(arg frontier_candidate_rnum)"/>
    <arg name="frontier_candidate_rmin" value="$(arg frontier_candidate_rmin)"/>
    <arg name="frontier_candidate_rmax" value="$(arg frontier_candidate_rmax)"/>
    <arg name="frontier_allow_near_unknown_candidate" value="$(arg frontier_allow_near_unknown_candidate)"/>
    <arg name="frontier_allow_unknown_ray_visibility" value="$(arg frontier_allow_unknown_ray_visibility)"/>
    <arg name="frontier_diagnose_cluster_viewpoints" value="$(arg frontier_diagnose_cluster_viewpoints)"/>
    <arg name="frontier_diagnose_cluster_log_limit" value="$(arg frontier_diagnose_cluster_log_limit)"/>
    <arg name="exploration_refine_local" value="$(arg exploration_refine_local)"/>
    <arg name="exploration_refined_radius" value="$(arg exploration_refined_radius)"/>
    <arg name="exploration_top_view_num" value="$(arg exploration_top_view_num)"/>
    <arg name="exploration_near_frontier_escape_enable" value="$(arg exploration_near_frontier_escape_enable)"/>
    <arg name="exploration_near_frontier_escape_distance" value="$(arg exploration_near_frontier_escape_distance)"/>
    <arg name="exploration_near_frontier_escape_max_speed" value="$(arg exploration_near_frontier_escape_max_speed)"/>
    <arg name="exploration_near_frontier_escape_alternative_distance" value="$(arg exploration_near_frontier_escape_alternative_distance)"/>
    <arg name="exploration_global_expansion_bias_enable" value="$(arg exploration_global_expansion_bias_enable)"/>
    <arg name="exploration_global_expansion_bias_rank_window" value="$(arg exploration_global_expansion_bias_rank_window)"/>
    <arg name="exploration_global_expansion_bias_dist_weight" value="$(arg exploration_global_expansion_bias_dist_weight)"/>
    <arg name="exploration_global_expansion_bias_lateral_weight" value="$(arg exploration_global_expansion_bias_lateral_weight)"/>
    <arg name="exploration_global_expansion_bias_axis" value="$(arg exploration_global_expansion_bias_axis)"/>
    <arg name="exploration_global_expansion_bias_min_gain" value="$(arg exploration_global_expansion_bias_min_gain)"/>
    <arg name="exploration_global_expansion_bias_override_refine" value="$(arg exploration_global_expansion_bias_override_refine)"/>
    <arg name="exploration_coverage_expansion_enable" value="$(arg exploration_coverage_expansion_enable)"/>
    <arg name="exploration_coverage_expansion_axis" value="$(arg exploration_coverage_expansion_axis)"/>
    <arg name="exploration_coverage_expansion_rank_window" value="$(arg exploration_coverage_expansion_rank_window)"/>
    <arg name="exploration_coverage_expansion_min_gain" value="$(arg exploration_coverage_expansion_min_gain)"/>
    <arg name="exploration_coverage_expansion_dist_weight" value="$(arg exploration_coverage_expansion_dist_weight)"/>
    <arg name="exploration_coverage_expansion_grid_resolution" value="$(arg exploration_coverage_expansion_grid_resolution)"/>
    <arg name="exploration_coverage_expansion_sensor_radius" value="$(arg exploration_coverage_expansion_sensor_radius)"/>
    <arg name="exploration_coverage_expansion_project_horizon" value="$(arg exploration_coverage_expansion_project_horizon)"/>
    <arg name="exploration_coverage_expansion_grid_weight" value="$(arg exploration_coverage_expansion_grid_weight)"/>
    <arg name="exploration_coverage_expansion_span_weight" value="$(arg exploration_coverage_expansion_span_weight)"/>
    <arg name="exploration_coverage_expansion_uncovered_target_weight" value="$(arg exploration_coverage_expansion_uncovered_target_weight)"/>
    <arg name="exploration_coverage_expansion_score_committed_goal" value="$(arg exploration_coverage_expansion_score_committed_goal)"/>
    <arg name="exploration_coverage_expansion_direct_uncovered_fallback" value="$(arg exploration_coverage_expansion_direct_uncovered_fallback)"/>
    <arg name="exploration_coverage_expansion_global_selector" value="$(arg exploration_coverage_expansion_global_selector)"/>
    <arg name="exploration_coverage_expansion_log_candidates" value="$(arg exploration_coverage_expansion_log_candidates)"/>
    <arg name="p_occ" value="$(arg p_occ)"/>
    <arg name="obstacles_inflation" value="$(arg obstacles_inflation)"/>
    <arg name="sdf_optimistic" value="$(arg sdf_optimistic)"/>
    <arg name="search_optimistic" value="$(arg search_optimistic)"/>
    <arg name="virtual_ceil_height" value="$(arg fuel_virtual_ceil_height)"/>
    <arg name="search_horizon" value="$(arg search_horizon)"/>
    <arg name="astar_max_search_time" value="$(arg astar_max_search_time)"/>
    <arg name="astar_diagnose_rejection" value="$(arg astar_diagnose_rejection)"/>
    <arg name="astar_diagnose_rejection_throttle_s" value="$(arg astar_diagnose_rejection_throttle_s)"/>
    <arg name="manager_local_segment_length" value="$(arg manager_local_segment_length)"/>
    <arg name="replan_time_s" value="$(arg replan_time_s)"/>
  </include>

</launch>
