<launch>
  <arg name="uav_num" default="3"/>
  <arg name="map_size_x" default="10.0"/>
  <arg name="map_size_y" default="8.0"/>
  <arg name="map_size_z" default="2.5"/>
  <arg name="use_map_origin_override" default="false"/>
  <arg name="map_origin_x" default="0.0"/>
  <arg name="map_origin_y" default="0.0"/>
  <arg name="max_vel" default="0.8"/>
  <arg name="max_acc" default="0.8"/>
  <arg name="planning_horizon" default="4.0"/>
  <arg name="flight_type" default="3"/>
  <arg name="swarm_scale" default="0.5"/>
  <arg name="swarm_clearance" default="1.0"/>
  <arg name="formation_type" default="2"/>
  <arg name="planar_formation" default="true"/>
  <arg name="min_traj_z" default="-1000000000.0"/>
  <arg name="max_traj_z" default="1000000000.0"/>
  <arg name="weight_height" default="0.0"/>
  <arg name="relative_z" default="1.0"/>
  <arg name="relative_pos_0_x" default="0.0"/>
  <arg name="relative_pos_0_y" default="0.0"/>
  <arg name="relative_pos_1_x" default="1.7321"/>
  <arg name="relative_pos_1_y" default="-1.0"/>
  <arg name="relative_pos_2_x" default="0.0"/>
  <arg name="relative_pos_2_y" default="-2.0"/>
  <arg name="center_z" default="1.0"/>
  <arg name="swarm_traj_time_tolerance_s" default="1.0"/>
  <arg name="rigid_leader_follower_mode" default="false"/>
  <arg name="grid_resolution" default="0.12"/>
  <arg name="obstacles_inflation" default="0.10"/>
  <arg name="astar_search_timeout_s" default="0.20"/>
  <arg name="astar_planar_search" default="false"/>
  <arg name="local_update_range_xy" default="4.5"/>
  <arg name="virtual_ceil_height" default="1.30"/>

  <group ns="drone_0">
    <node pkg="ego_planner" name="ego_planner_node" type="ego_planner_node" output="screen">
      <remap from="~odom_world" to="/uav1/mavros/local_position/odom"/>
      <remap from="~planning/trajectory" to="/drone_0_planning/trajectory"/>
      <remap from="~planning/start" to="/drone_0_planning/start"/>
      <remap from="~planning/finish" to="/drone_0_planning/finish"/>
      <remap from="~planning/data_display" to="/drone_0_planning/data_display"/>
      <remap from="~planning/broadcast_traj_send" to="/broadcast_traj_from_planner"/>
      <remap from="~planning/broadcast_traj_recv" to="/broadcast_traj_to_planner"/>
      <remap from="~grid_map/odom" to="/uav1/mavros/local_position/odom"/>
      <remap from="~grid_map/cloud" to="/uav1/livox_world"/>
      <rosparam file="$(find ego_planner)/config/normal_hexagon.yaml"/>
      <param name="global_goal/swarm_scale" value="$(arg swarm_scale)" type="double"/>
      <param name="optimization/formation_type" value="$(arg formation_type)" type="int"/>
      <param name="optimization/formation_scale" value="$(arg swarm_scale)" type="double"/>
      <param name="optimization/planar_formation" value="$(arg planar_formation)" type="bool"/>
      <param name="optimization/swarm_clearance" value="$(arg swarm_clearance)" type="double"/>
      <param name="optimization/min_traj_z" value="$(arg min_traj_z)" type="double"/>
      <param name="optimization/max_traj_z" value="$(arg max_traj_z)" type="double"/>
      <param name="optimization/weight_height" value="$(arg weight_height)" type="double"/>
      <param name="optimization/astar_search_timeout_s" value="$(arg astar_search_timeout_s)" type="double"/>
      <param name="optimization/astar_planar_search" value="$(arg astar_planar_search)" type="bool"/>
      <param name="global_goal/relative_pos_0/x" value="$(arg relative_pos_0_x)" type="double"/>
      <param name="global_goal/relative_pos_0/y" value="$(arg relative_pos_0_y)" type="double"/>
      <param name="global_goal/relative_pos_1/x" value="$(arg relative_pos_1_x)" type="double"/>
      <param name="global_goal/relative_pos_1/y" value="$(arg relative_pos_1_y)" type="double"/>
      <param name="global_goal/relative_pos_2/x" value="$(arg relative_pos_2_x)" type="double"/>
      <param name="global_goal/relative_pos_2/y" value="$(arg relative_pos_2_y)" type="double"/>
      <param name="global_goal/relative_pos_0/z" value="$(arg relative_z)" type="double"/>
      <param name="global_goal/use_msg_z" value="true" type="bool"/>
      <param name="global_goal/center_z" value="$(arg center_z)" type="double"/>
      <param name="fsm/flight_type" value="$(arg flight_type)" type="int"/>
      <param name="fsm/thresh_replan_time" value="1.0" type="double"/>
      <param name="fsm/thresh_no_replan_meter" value="1.0" type="double"/>
      <param name="fsm/planning_horizon" value="$(arg planning_horizon)" type="double"/>
      <param name="fsm/planning_horizen_time" value="3" type="double"/>
      <param name="fsm/emergency_time" value="1.0" type="double"/>
      <param name="fsm/realworld_experiment" value="false"/>
      <param name="fsm/fail_safe" value="true"/>
      <param name="fsm/replan_trajectory_time" value="0.1" type="double"/>
      <param name="fsm/swarm_traj_time_tolerance_s" value="$(arg swarm_traj_time_tolerance_s)" type="double"/>
      <param name="fsm/rigid_leader_follower_mode" value="$(arg rigid_leader_follower_mode)" type="bool"/>
      <param name="fsm/result_file" value="/tmp/mosim_swarm_formation_d3_drone0.txt"/>
      <param name="grid_map/resolution" value="$(arg grid_resolution)"/>
      <param name="grid_map/map_size_x" value="$(arg map_size_x)"/>
      <param name="grid_map/map_size_y" value="$(arg map_size_y)"/>
      <param name="grid_map/map_size_z" value="$(arg map_size_z)"/>
      <param name="grid_map/use_map_origin_override" value="$(arg use_map_origin_override)" type="bool"/>
      <param name="grid_map/map_origin_x" value="$(arg map_origin_x)" type="double"/>
      <param name="grid_map/map_origin_y" value="$(arg map_origin_y)" type="double"/>
      <param name="grid_map/local_update_range_x" value="$(arg local_update_range_xy)"/>
      <param name="grid_map/local_update_range_y" value="$(arg local_update_range_xy)"/>
      <param name="grid_map/local_update_range_z" value="2.5"/>
      <param name="grid_map/obstacles_inflation" value="$(arg obstacles_inflation)"/>
      <param name="grid_map/p_hit" value="0.65"/>
      <param name="grid_map/p_miss" value="0.35"/>
      <param name="grid_map/p_min" value="0.12"/>
      <param name="grid_map/p_max" value="0.90"/>
      <param name="grid_map/p_occ" value="0.80"/>
      <param name="grid_map/min_ray_length" value="0.1"/>
      <param name="grid_map/max_ray_length" value="4.5"/>
      <param name="grid_map/virtual_ceil_height" value="$(arg virtual_ceil_height)"/>
      <param name="grid_map/visualization_truncate_height" value="1.50"/>
      <param name="grid_map/show_occ_time" value="false"/>
      <param name="grid_map/pose_type" value="1"/>
      <param name="grid_map/frame_id" value="world"/>
      <param name="grid_map/local_bound_inflate" value="0.0"/>
      <param name="grid_map/show_esdf_time" value="false"/>
      <param name="grid_map/esdf_slice_height" value="0.3"/>
      <param name="manager/max_vel" value="$(arg max_vel)" type="double"/>
      <param name="manager/max_acc" value="$(arg max_acc)" type="double"/>
      <param name="manager/control_points_distance" value="0.4" type="double"/>
      <param name="manager/polyTraj_piece_length" value="2.0" type="double"/>
      <param name="manager/feasibility_tolerance" value="0.05" type="double"/>
      <param name="manager/planning_horizon" value="$(arg planning_horizon)" type="double"/>
      <param name="manager/use_distinctive_trajs" value="false" type="bool"/>
      <param name="manager/drone_id" value="0" type="int"/>
      <param name="optimization/constrain_points_perPiece" value="3" type="int"/>
      <param name="optimization/max_vel" value="$(arg max_vel)" type="double"/>
      <param name="optimization/max_acc" value="$(arg max_acc)" type="double"/>
      <param name="optimization/record_opt" value="false" type="bool"/>
    </node>
    <node pkg="ego_planner" name="traj_server" type="traj_server" output="screen">
      <remap from="~planning/trajectory" to="/drone_0_planning/trajectory"/>
      <remap from="~planning/start" to="/drone_0_planning/start"/>
      <remap from="~planning/finish" to="/drone_0_planning/finish"/>
      <remap from="/position_cmd" to="/uav1/planner_position_cmd_swarm_raw"/>
      <param name="traj_server/time_forward" value="1.0" type="double"/>
    </node>
  </group>

  <group ns="drone_1" if="$(eval int(arg('uav_num')) >= 2)">
    <node pkg="ego_planner" name="ego_planner_node" type="ego_planner_node" output="screen">
      <remap from="~odom_world" to="/uav2/mavros/local_position/odom"/>
      <remap from="~planning/trajectory" to="/drone_1_planning/trajectory"/>
      <remap from="~planning/start" to="/drone_1_planning/start"/>
      <remap from="~planning/finish" to="/drone_1_planning/finish"/>
      <remap from="~planning/data_display" to="/drone_1_planning/data_display"/>
      <remap from="~planning/broadcast_traj_send" to="/broadcast_traj_from_planner"/>
      <remap from="~planning/broadcast_traj_recv" to="/broadcast_traj_to_planner"/>
      <remap from="~grid_map/odom" to="/uav2/mavros/local_position/odom"/>
      <remap from="~grid_map/cloud" to="/uav2/livox_world"/>
      <rosparam file="$(find ego_planner)/config/normal_hexagon.yaml"/>
      <param name="global_goal/swarm_scale" value="$(arg swarm_scale)" type="double"/>
      <param name="optimization/formation_type" value="$(arg formation_type)" type="int"/>
      <param name="optimization/formation_scale" value="$(arg swarm_scale)" type="double"/>
      <param name="optimization/planar_formation" value="$(arg planar_formation)" type="bool"/>
      <param name="optimization/swarm_clearance" value="$(arg swarm_clearance)" type="double"/>
      <param name="optimization/min_traj_z" value="$(arg min_traj_z)" type="double"/>
      <param name="optimization/max_traj_z" value="$(arg max_traj_z)" type="double"/>
      <param name="optimization/weight_height" value="$(arg weight_height)" type="double"/>
      <param name="optimization/astar_search_timeout_s" value="$(arg astar_search_timeout_s)" type="double"/>
      <param name="optimization/astar_planar_search" value="$(arg astar_planar_search)" type="bool"/>
      <param name="global_goal/relative_pos_0/x" value="$(arg relative_pos_0_x)" type="double"/>
      <param name="global_goal/relative_pos_0/y" value="$(arg relative_pos_0_y)" type="double"/>
      <param name="global_goal/relative_pos_1/x" value="$(arg relative_pos_1_x)" type="double"/>
      <param name="global_goal/relative_pos_1/y" value="$(arg relative_pos_1_y)" type="double"/>
      <param name="global_goal/relative_pos_2/x" value="$(arg relative_pos_2_x)" type="double"/>
      <param name="global_goal/relative_pos_2/y" value="$(arg relative_pos_2_y)" type="double"/>
      <param name="global_goal/relative_pos_1/z" value="$(arg relative_z)" type="double"/>
      <param name="global_goal/use_msg_z" value="true" type="bool"/>
      <param name="global_goal/center_z" value="$(arg center_z)" type="double"/>
      <param name="fsm/flight_type" value="$(arg flight_type)" type="int"/>
      <param name="fsm/thresh_replan_time" value="1.0" type="double"/>
      <param name="fsm/thresh_no_replan_meter" value="1.0" type="double"/>
      <param name="fsm/planning_horizon" value="$(arg planning_horizon)" type="double"/>
      <param name="fsm/planning_horizen_time" value="3" type="double"/>
      <param name="fsm/emergency_time" value="1.0" type="double"/>
      <param name="fsm/realworld_experiment" value="false"/>
      <param name="fsm/fail_safe" value="true"/>
      <param name="fsm/replan_trajectory_time" value="0.1" type="double"/>
      <param name="fsm/swarm_traj_time_tolerance_s" value="$(arg swarm_traj_time_tolerance_s)" type="double"/>
      <param name="fsm/rigid_leader_follower_mode" value="$(arg rigid_leader_follower_mode)" type="bool"/>
      <param name="fsm/result_file" value="/tmp/mosim_swarm_formation_d3_drone1.txt"/>
      <param name="grid_map/resolution" value="$(arg grid_resolution)"/>
      <param name="grid_map/map_size_x" value="$(arg map_size_x)"/>
      <param name="grid_map/map_size_y" value="$(arg map_size_y)"/>
      <param name="grid_map/map_size_z" value="$(arg map_size_z)"/>
      <param name="grid_map/use_map_origin_override" value="$(arg use_map_origin_override)" type="bool"/>
      <param name="grid_map/map_origin_x" value="$(arg map_origin_x)" type="double"/>
      <param name="grid_map/map_origin_y" value="$(arg map_origin_y)" type="double"/>
      <param name="grid_map/local_update_range_x" value="$(arg local_update_range_xy)"/>
      <param name="grid_map/local_update_range_y" value="$(arg local_update_range_xy)"/>
      <param name="grid_map/local_update_range_z" value="2.5"/>
      <param name="grid_map/obstacles_inflation" value="$(arg obstacles_inflation)"/>
      <param name="grid_map/p_hit" value="0.65"/>
      <param name="grid_map/p_miss" value="0.35"/>
      <param name="grid_map/p_min" value="0.12"/>
      <param name="grid_map/p_max" value="0.90"/>
      <param name="grid_map/p_occ" value="0.80"/>
      <param name="grid_map/min_ray_length" value="0.1"/>
      <param name="grid_map/max_ray_length" value="4.5"/>
      <param name="grid_map/virtual_ceil_height" value="$(arg virtual_ceil_height)"/>
      <param name="grid_map/visualization_truncate_height" value="1.50"/>
      <param name="grid_map/show_occ_time" value="false"/>
      <param name="grid_map/pose_type" value="1"/>
      <param name="grid_map/frame_id" value="world"/>
      <param name="grid_map/local_bound_inflate" value="0.0"/>
      <param name="grid_map/show_esdf_time" value="false"/>
      <param name="grid_map/esdf_slice_height" value="0.3"/>
      <param name="manager/max_vel" value="$(arg max_vel)" type="double"/>
      <param name="manager/max_acc" value="$(arg max_acc)" type="double"/>
      <param name="manager/control_points_distance" value="0.4" type="double"/>
      <param name="manager/polyTraj_piece_length" value="2.0" type="double"/>
      <param name="manager/feasibility_tolerance" value="0.05" type="double"/>
      <param name="manager/planning_horizon" value="$(arg planning_horizon)" type="double"/>
      <param name="manager/use_distinctive_trajs" value="false" type="bool"/>
      <param name="manager/drone_id" value="1" type="int"/>
      <param name="optimization/constrain_points_perPiece" value="3" type="int"/>
      <param name="optimization/max_vel" value="$(arg max_vel)" type="double"/>
      <param name="optimization/max_acc" value="$(arg max_acc)" type="double"/>
      <param name="optimization/record_opt" value="false" type="bool"/>
    </node>
    <node pkg="ego_planner" name="traj_server" type="traj_server" output="screen">
      <remap from="~planning/trajectory" to="/drone_1_planning/trajectory"/>
      <remap from="~planning/start" to="/drone_1_planning/start"/>
      <remap from="~planning/finish" to="/drone_1_planning/finish"/>
      <remap from="/position_cmd" to="/uav2/planner_position_cmd_swarm_raw"/>
      <param name="traj_server/time_forward" value="1.0" type="double"/>
    </node>
  </group>

  <group ns="drone_2" if="$(eval int(arg('uav_num')) >= 3)">
    <node pkg="ego_planner" name="ego_planner_node" type="ego_planner_node" output="screen">
      <remap from="~odom_world" to="/uav3/mavros/local_position/odom"/>
      <remap from="~planning/trajectory" to="/drone_2_planning/trajectory"/>
      <remap from="~planning/start" to="/drone_2_planning/start"/>
      <remap from="~planning/finish" to="/drone_2_planning/finish"/>
      <remap from="~planning/data_display" to="/drone_2_planning/data_display"/>
      <remap from="~planning/broadcast_traj_send" to="/broadcast_traj_from_planner"/>
      <remap from="~planning/broadcast_traj_recv" to="/broadcast_traj_to_planner"/>
      <remap from="~grid_map/odom" to="/uav3/mavros/local_position/odom"/>
      <remap from="~grid_map/cloud" to="/uav3/livox_world"/>
      <rosparam file="$(find ego_planner)/config/normal_hexagon.yaml"/>
      <param name="global_goal/swarm_scale" value="$(arg swarm_scale)" type="double"/>
      <param name="optimization/formation_type" value="$(arg formation_type)" type="int"/>
      <param name="optimization/formation_scale" value="$(arg swarm_scale)" type="double"/>
      <param name="optimization/planar_formation" value="$(arg planar_formation)" type="bool"/>
      <param name="optimization/swarm_clearance" value="$(arg swarm_clearance)" type="double"/>
      <param name="optimization/min_traj_z" value="$(arg min_traj_z)" type="double"/>
      <param name="optimization/max_traj_z" value="$(arg max_traj_z)" type="double"/>
      <param name="optimization/weight_height" value="$(arg weight_height)" type="double"/>
      <param name="optimization/astar_search_timeout_s" value="$(arg astar_search_timeout_s)" type="double"/>
      <param name="optimization/astar_planar_search" value="$(arg astar_planar_search)" type="bool"/>
      <param name="global_goal/relative_pos_0/x" value="$(arg relative_pos_0_x)" type="double"/>
      <param name="global_goal/relative_pos_0/y" value="$(arg relative_pos_0_y)" type="double"/>
      <param name="global_goal/relative_pos_1/x" value="$(arg relative_pos_1_x)" type="double"/>
      <param name="global_goal/relative_pos_1/y" value="$(arg relative_pos_1_y)" type="double"/>
      <param name="global_goal/relative_pos_2/x" value="$(arg relative_pos_2_x)" type="double"/>
      <param name="global_goal/relative_pos_2/y" value="$(arg relative_pos_2_y)" type="double"/>
      <param name="global_goal/relative_pos_2/z" value="$(arg relative_z)" type="double"/>
      <param name="global_goal/use_msg_z" value="true" type="bool"/>
      <param name="global_goal/center_z" value="$(arg center_z)" type="double"/>
      <param name="fsm/flight_type" value="$(arg flight_type)" type="int"/>
      <param name="fsm/thresh_replan_time" value="1.0" type="double"/>
      <param name="fsm/thresh_no_replan_meter" value="1.0" type="double"/>
      <param name="fsm/planning_horizon" value="$(arg planning_horizon)" type="double"/>
      <param name="fsm/planning_horizen_time" value="3" type="double"/>
      <param name="fsm/emergency_time" value="1.0" type="double"/>
      <param name="fsm/realworld_experiment" value="false"/>
      <param name="fsm/fail_safe" value="true"/>
      <param name="fsm/replan_trajectory_time" value="0.1" type="double"/>
      <param name="fsm/swarm_traj_time_tolerance_s" value="$(arg swarm_traj_time_tolerance_s)" type="double"/>
      <param name="fsm/rigid_leader_follower_mode" value="$(arg rigid_leader_follower_mode)" type="bool"/>
      <param name="fsm/result_file" value="/tmp/mosim_swarm_formation_d3_drone2.txt"/>
      <param name="grid_map/resolution" value="$(arg grid_resolution)"/>
      <param name="grid_map/map_size_x" value="$(arg map_size_x)"/>
      <param name="grid_map/map_size_y" value="$(arg map_size_y)"/>
      <param name="grid_map/map_size_z" value="$(arg map_size_z)"/>
      <param name="grid_map/use_map_origin_override" value="$(arg use_map_origin_override)" type="bool"/>
      <param name="grid_map/map_origin_x" value="$(arg map_origin_x)" type="double"/>
      <param name="grid_map/map_origin_y" value="$(arg map_origin_y)" type="double"/>
      <param name="grid_map/local_update_range_x" value="$(arg local_update_range_xy)"/>
      <param name="grid_map/local_update_range_y" value="$(arg local_update_range_xy)"/>
      <param name="grid_map/local_update_range_z" value="2.5"/>
      <param name="grid_map/obstacles_inflation" value="$(arg obstacles_inflation)"/>
      <param name="grid_map/p_hit" value="0.65"/>
      <param name="grid_map/p_miss" value="0.35"/>
      <param name="grid_map/p_min" value="0.12"/>
      <param name="grid_map/p_max" value="0.90"/>
      <param name="grid_map/p_occ" value="0.80"/>
      <param name="grid_map/min_ray_length" value="0.1"/>
      <param name="grid_map/max_ray_length" value="4.5"/>
      <param name="grid_map/virtual_ceil_height" value="$(arg virtual_ceil_height)"/>
      <param name="grid_map/visualization_truncate_height" value="1.50"/>
      <param name="grid_map/show_occ_time" value="false"/>
      <param name="grid_map/pose_type" value="1"/>
      <param name="grid_map/frame_id" value="world"/>
      <param name="grid_map/local_bound_inflate" value="0.0"/>
      <param name="grid_map/show_esdf_time" value="false"/>
      <param name="grid_map/esdf_slice_height" value="0.3"/>
      <param name="manager/max_vel" value="$(arg max_vel)" type="double"/>
      <param name="manager/max_acc" value="$(arg max_acc)" type="double"/>
      <param name="manager/control_points_distance" value="0.4" type="double"/>
      <param name="manager/polyTraj_piece_length" value="2.0" type="double"/>
      <param name="manager/feasibility_tolerance" value="0.05" type="double"/>
      <param name="manager/planning_horizon" value="$(arg planning_horizon)" type="double"/>
      <param name="manager/use_distinctive_trajs" value="false" type="bool"/>
      <param name="manager/drone_id" value="2" type="int"/>
      <param name="optimization/constrain_points_perPiece" value="3" type="int"/>
      <param name="optimization/max_vel" value="$(arg max_vel)" type="double"/>
      <param name="optimization/max_acc" value="$(arg max_acc)" type="double"/>
      <param name="optimization/record_opt" value="false" type="bool"/>
    </node>
    <node pkg="ego_planner" name="traj_server" type="traj_server" output="screen">
      <remap from="~planning/trajectory" to="/drone_2_planning/trajectory"/>
      <remap from="~planning/start" to="/drone_2_planning/start"/>
      <remap from="~planning/finish" to="/drone_2_planning/finish"/>
      <remap from="/position_cmd" to="/uav3/planner_position_cmd_swarm_raw"/>
      <param name="traj_server/time_forward" value="1.0" type="double"/>
    </node>
  </group>
</launch>
