<launch>
	<!-- 无人机ID -->
    <arg name="drone_id" default="0"/>

	<!-- size of map, change the size inflate x, y, z according to your application -->
    <arg name="map_size_x" default="80.0"/>
    <arg name="map_size_y" default="80.0"/>
    <arg name="map_size_z" default=" 2.0"/>

	<!-- 无人机目标点位置，用于规划器 -->
	<arg name="target_x" default="20.0"/>
	<arg name="target_y" default="9.0"/>
	<arg name="target_z" default="1"/>

	<!-- 无人机最大速度及最大加速度 -->
	<arg name="max_vel" default="0.5" />
	<arg name="max_acc" default="0.5" />

	<arg name="planning_horizon" default="7.5"/>

	<!-- topic of your odometry such as VIO or LIO -->
    <arg name="odom_topic" default="/uav1/sunray/gazebo_pose" />
	<!-- 点云信息，仿真中由map_generator产生 or 激光雷达 -->
	<!-- 全局点云 or 局部点云 2选1 -->
	<arg name="cloud_topic" default="/map_generator/global_cloud"/>
	<!-- <arg name="cloud_topic" default="/uav1/map_generator/local_cloud"/> -->
	
	<!-- 相机及深度信息仿真中没有使用，此处可忽略(真机中使用) -->
	<arg name="camera_pose_topic" default="pcl_render_node/camera_pose"/>
	<arg name="depth_topic" default="pcl_render_node/depth"/>

	<!-- number of moving objects -->
	<arg name="obj_num" default="0" />


  	<!-- EGO-Planner主节点 -->
  	<node pkg="ego_planner" name="drone_$(arg drone_id)_ego_planner_node" type="ego_planner_node" output="screen">
		<!-- 无人机里程计话题 -->
    	<remap from="~odom_world" to="$(arg odom_topic)"/>
		<!-- 发布的B样条话题 -->
		<remap from="~planning/bspline" to = "/drone_$(arg drone_id)_planning/bspline"/>
		<!-- 显示话题 -->
		<remap from="~planning/data_display" to = "/drone_$(arg drone_id)_planning/data_display"/>
		<!-- 订阅 其他无人机广播的B样条 -->
		<remap from="~planning/broadcast_bspline_from_planner" to = "/broadcast_bspline"/>
		<!-- 发布 本无人机广播的B样条 -->
		<remap from="~planning/broadcast_bspline_to_planner" to = "/broadcast_bspline"/>
		<!-- 地图中的odom话题 -->
    	<remap from="~grid_map/odom" to="$(arg odom_topic)"/>
		<!-- 地图中点云话题 -->
    	<remap from="~grid_map/cloud" to="$(arg cloud_topic)"/>
		<!-- 地图中相机位姿话题 -->
    	<remap from="~grid_map/pose"   to = "$(arg camera_pose_topic)"/> 
		<!-- 地图中相机深度话题 -->
    	<remap from="~grid_map/depth" to = "$(arg depth_topic)"/>
		<!-- 手动目标点话题 -->
    	<remap from="~move_base_simple/goal" to="/goal_1"/>

		<!-- 规划器状态机参数-->
		<!-- 1 MANUAL_TARGET: use 2D Nav Goal to select goal  -->
		<!-- 2 PRESET_TARGET: use global waypoints below  -->
		<param name="fsm/flight_type" value="4" type="int"/>
		<!-- 重规划时间间隔，如果要增大规划频率，则减小该数值 -->
		<param name="fsm/thresh_replan_time" value="1.0" type="double"/>
		<!-- 重规划阈值：距离终点小于该阈值时，停止规划 -->
		<param name="fsm/thresh_no_replan_meter" value="1.0" type="double"/>
		<!-- 规划的范围，一般设置为感知范围的1.5倍 -->
		<param name="fsm/planning_horizon" value="$(arg planning_horizon)" type="double"/> 
		<param name="fsm/planning_horizen_time" value="3" type="double"/>
		<!-- 紧急停止时间 -->
		<param name="fsm/emergency_time" value="1.0" type="double"/>
		<!-- 仿真与实际标志位，实际中需要等待一个起始话题 -->
		<!-- <param name="fsm/realworld_experiment" value="true"/> -->
		<param name="fsm/realworld_experiment" value="true"/>
		<param name="fsm/fail_safe" value="true"/>

		<!-- PRESET_TARGET模式下目标点数量 -->
		<param name="fsm/waypoint_num" value="1" type="int"/>
		<param name="fsm/waypoint0_x" value="$(arg target_x)" type="double"/>
		<param name="fsm/waypoint0_y" value="$(arg target_y)" type="double"/>
		<param name="fsm/waypoint0_z" value="$(arg target_z)" type="double"/>
		<!-- GridMap参数 -->
		<!-- 分辨率、地图尺寸 -->
		<param name="grid_map/resolution"      value="0.14" /> 
		<param name="grid_map/map_size_x"   value="$(arg map_size_x)" /> 
		<param name="grid_map/map_size_y"   value="$(arg map_size_y)" /> 
		<param name="grid_map/map_size_z"   value="$(arg map_size_z)" /> 
		<!-- 地图更新距离 -->
		<!-- 点云数据会在特定范围内截断，只使用特定范围的信息，超出范围的数据丢弃 -->
		<param name="grid_map/local_update_range_x"  value="5.5" /> 
		<param name="grid_map/local_update_range_y"  value="5.5" /> 
		<param name="grid_map/local_update_range_z"  value="4.5" /> 
		<!-- 膨胀距离 -->
		<param name="grid_map/obstacles_inflation"     value="0.09" /> 
		<param name="grid_map/local_map_margin" value="10"/>
		<!-- 地面高度 -->
		<param name="grid_map/ground_height"        value="-0.01"/>
		<!-- 虚拟天花板高度 -->
		<param name="grid_map/virtual_ceil_height"   value="2.0"/>
		<param name="grid_map/visualization_truncate_height"   value="1.8"/>
		<param name="grid_map/show_occ_time"  value="false"/>
		<!-- 不使用depth -->
		<param name="grid_map/pose_type"     value="1"/>  
		<param name="grid_map/frame_id"      value="world"/>
		<!-- camera parameter -->
		<param name="grid_map/cx" value="321.04638671875"/>
		<param name="grid_map/cy" value="243.44969177246094"/>
		<param name="grid_map/fx" value="387.229248046875"/>
		<param name="grid_map/fy" value="387.229248046875"/>

		<!-- depth filter -->
		<param name="grid_map/use_depth_filter" value="true"/>
		<param name="grid_map/depth_filter_tolerance" value="0.15"/>
		<param name="grid_map/depth_filter_maxdist"   value="5.0"/>
		<param name="grid_map/depth_filter_mindist"   value="0.2"/>
		<param name="grid_map/depth_filter_margin"    value="2"/>
		<param name="grid_map/k_depth_scaling_factor" value="1000.0"/>
		<param name="grid_map/skip_pixel" value="2"/>
		<!-- local fusion -->
		<param name="grid_map/p_hit"  value="0.65"/>
		<param name="grid_map/p_miss" value="0.35"/>
		<param name="grid_map/p_min"  value="0.12"/>
		<param name="grid_map/p_max"  value="0.90"/>
		<param name="grid_map/p_occ"  value="0.80"/>
		<param name="grid_map/min_ray_length" value="0.1"/>
		<param name="grid_map/max_ray_length" value="4.5"/>

		<!-- planner manager -->
		<!-- 无人机ID号，ego默认从0开始，Sunray默认从1开始 -->
		<param name="manager/drone_id" value="$(arg drone_id)"/>
		<!-- 最大速度 -->
		<param name="manager/max_vel" value="$(arg max_vel)" type="double"/>
		<!-- 最大加速度 -->
		<param name="manager/max_acc" value="$(arg max_acc)" type="double"/>
		<!-- 最大加加速度 -->
		<param name="manager/max_jerk" value="4" type="double"/>
		<param name="manager/control_points_distance" value="0.4" type="double"/>
		<param name="manager/feasibility_tolerance" value="0.05" type="double"/>
		<param name="manager/planning_horizon" value="$(arg planning_horizon)" type="double"/>
		<param name="manager/use_distinctive_trajs" value="true" type="bool"/>
		
		<!-- B样条优化参数 -->
		<!-- 平滑系数:较高的‌lambda_smooth‌值会使轨迹更加平滑，减少急剧的转向和加速，从而提高行驶的稳定性和舒适性 -->
		<param name="optimization/lambda_smooth" value="2.0" type="double"/>
		<!-- 避障系数:较低的‌lambda_smooth‌值可能会使轨迹更接近障碍物，但有助于更好地避开障碍物，尤其是在复杂环境中 -->
		<param name="optimization/lambda_collision" value="0.5" type="double"/>
		<!-- 可行性系数 -->
		<param name="optimization/lambda_feasibility" value="0.1" type="double"/>
		<!-- ? -->
		<param name="optimization/lambda_fitness" value="1.0" type="double"/>
		<param name="optimization/dist0" value="0.5" type="double"/>
		<param name="optimization/swarm_clearance" value="0.5" type="double"/>
		<param name="optimization/max_vel" value="$(arg max_vel)" type="double"/>
		<param name="optimization/max_acc" value="$(arg max_acc)" type="double"/>
		<!-- 这三个好像没用 -->
		<param name="bspline/limit_vel" value="$(arg max_vel)" type="double"/>
		<param name="bspline/limit_acc" value="$(arg max_acc)" type="double"/>
		<param name="bspline/limit_ratio" value="1.1" type="double"/>
	</node>

	<!-- trajectory server -->
	<node pkg="ego_planner" name="drone_$(arg drone_id)_traj_server" type="traj_server" output="screen">
    	<remap from="position_cmd" to="/uav1/pos_cmd"/>
		<remap from="~planning/bspline" to="drone_$(arg drone_id)_planning/bspline"/>
		<param name="traj_server/time_forward" value="1.0" type="double"/>
	</node>

    <!-- ego 输出转换为sunray控制指令 -->
   	<!-- 对应的sunray控制指令 -->
    <arg name="cmd_sub_topic_1" default="/uav1/pos_cmd"/>
    <arg name="control_pub_topic_1" default="/uav1/sunray/uav_control_cmd"/>
    <arg name="control_type" default="2"/>
    <arg name="enable_yaw" default="true"/>
    <node name="positionCmd2sunray_node_1" pkg="sunray_planner_utils" type="positionCmd2sunray" output="screen">
        <param name="cmd_sub_topic" value="$(arg cmd_sub_topic_1)"/>
        <param name="control_pub_topic" value="$(arg control_pub_topic_1)"/>
        <param name="control_type" value="$(arg control_type)"/>
        <param name="enable_yaw" value="$(arg enable_yaw)"/>
    </node>

    <!-- 监听move_base_simple/goal (rviz中的2D Nav Goal) 将其转为多个平行的目标点发送到ego中的每个规划器-->
    <arg name="goal_topic" default="/goal"/>
    <node name="goal2swarm" pkg="sunray_planner_utils" type="goal2swarm" output="screen">
        <param name="uav_num" value="1" />
        <param name="goal_type" value="1" />
        <param name="offset" value="1.1" />
        <param name="goal_topic" value="$(arg goal_topic)" />
        <param name="use_hight" value="true" />
        <param name="z_height" value="1.0" />
    </node>


    <arg name="enable_rviz" default="true"/>
    <arg name="rivz_config" default="$(find sunray_simulator)/launch_rviz/ego_sim.rviz"/>
    <group if="$(arg enable_rviz)">
        <node type="rviz" name="rviz_sim" pkg="rviz" args="-d $(arg rivz_config)"/>
    </group>

</launch>