<launch>
    <!-- 无人车控制节点 -->
    <node name="ugv_control_node" pkg="sunray_ugv_control" type="ugv_control_node" output="screen">
        <param name="ugv_id" value="1" />
        <param name="flag_printf" value="true" />
        <param name="enable_rviz" value="true" />
        <param name="enable_astar" value="false" />
        <param name="location_source" value="2" />
        <!-- 改成slam的odom -->
        <param name="odom_topic" value="/xxxx" />
        <param name="vel_topic" value="/ugv$(arg ugv_id)/cmd_vel" />
        <!-- 控制参数 -->
    <arg name="ugv_control_param/Kp_xy" default="2.0" />
    <arg name="ugv_control_param/Kp_yaw" default="0.95" />
    <arg name="ugv_control_param/max_vel_xy" default="1.5" />
    <arg name="ugv_control_param/max_vel_yaw" default="1.57" />
    <!-- 地理围栏参数 -->
    <arg name="ugv_geo_fence/max_x" default="12.0" />
    <arg name="ugv_geo_fence/min_x" default="-12.0" />
    <arg name="ugv_geo_fence/max_y" default="12.0" />
    <arg name="ugv_geo_fence/min_y" default="-12.0" />
    </node>
</launch>
