<?xml version="1.0"?>
<model>
  <name>GPS</name>
  <version>1.0</version>
  <sdf version="1.6">gps.sdf</sdf>
  <author>
    <name>Nuno Marques</name>
    <email>nuno.marques@dronesolutions.io</email>
  </author>
  <description>PX4 Gazebo Classic-compatible GPS sensor model for the MoSim Sunray ROS1 runtime lane.</description>
</model>
