/* make nav more blurry */
.nextra-nav-container-blur {
  background: transparent !important;
}

/* Hide guides and faq from main menu */
.nextra-navbar > nav > div > a[href="/showcase"] {
  display: none !important;
}

.nextra-navbar > nav > div > a[href="/faq"] {
  display: none !important;
}

.nextra-navbar > nav > div > a[href="/self-hosting"] {
  display: none !important;
}

.nextra-scrollbar {
  scrollbar-color: #73737366 transparent;
}
