<?xml version="1.0"?>
<model>
  <name>3D_lidar</name>
  <version>1.0</version>
  <sdf version="1.6">3D_lidar.sdf</sdf>

  <author>
    <name>Yundrone TECH</name>
    <email>sunray2023@126.com</email>
  </author>

  <description>
    This is a 3D lidar model.
  </description>
</model>
