<launch>
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find sunray_tutorial)/config/rosconsole.config"/>
    <arg name="down_image_topic" default="/uav1/monocular_down/image_raw" />
    <arg name="down_camera_info_topic" default="/uav1/monocular_down/camera_info" />

    <!-- ===== 下视相机 (landmark)===== -->

    <node pkg="landmark_detection_ros" type="landmark_detection_ros_node" name="landmark_detection_ros_node" output="screen">
        <remap from="image_rect" to="$(arg down_image_topic)" />
        <remap from="camera_info" to="$(arg down_camera_info_topic)" />

        <param name="queue_size" type="int" value="1" />
        <param name="uav_id" type="int" value="1" />
        <param name="x_bias" type="double" value="0" />
        <param name="y_bias" type="double" value="0" />
        <param name="draw_tag_detections_image" type="bool" value="true" />

        <param name="rotate" type="int" value="1" /> 
        <!-- 0: no rotation, 1: rotate 180 degree clockwise, 2: rotate 90 degree clockwise  3: rotate -90 degree clockwise -->

        <param name="algorithm_parameters" type="str" value="$(find sunray_tutorial)/config/aruco_detector_params.json" />
        <param name="camera_parameters" type="str" value="$(find sunray_tutorial)/config/head_camera.yaml" />
        <param name="local_saving_path" type="str" value="$(find sunray_tutorial)/output" />
    </node>

    <!-- ===== 前视相机 (qrcode) ===== -->
    <!-- <node pkg="qrcode_detection_ros" type="qrcode_detection_ros_node" name="qrcode_detection_ros_node" output="screen">

        <remap from="image_rect" to="/uav1/monocular_front/image_raw" />
        <remap from="camera_info" to="/uav1/monocular_front/camera_info" />

        <param name="queue_size" type="int" value="1" />

        <param name="uav_id" type="int" value="1" />
        <param name="x_bias" type="double" value="0" />
        <param name="y_bias" type="double" value="0" />
        <param name="draw_tag_detections_image" type="bool" value="true" />

        <param name="algorithm_parameters" type="str" value="$(find sunray_tutorial)/config/qrcode_detector_params.json" />
        <param name="camera_parameters" type="str" value="$(find sunray_tutorial)/config/head_camera.yaml" />
        <param name="local_saving_path" type="str" value="$(find sunray_tutorial)/output" />
    </node> -->

</launch>
