<?xml version="1.0"?>

<window>
  <width>1280</width>
  <height>860</height>
  <style
    material_theme="Light"
    material_primary="BlueGrey"
    material_accent="LightBlue"
    toolbar_color_light="#f3f3f3"
    toolbar_text_color_light="#111111"
    plugin_toolbar_color_light="#bbdefb"
    plugin_toolbar_text_color_light="#111111"
  />
  <menus>
    <drawer default="false">
    </drawer>
  </menus>
  <dialog_on_exit>false</dialog_on_exit>
</window>

<plugin filename="MinimalScene" name="3D View">
  <gz-gui>
    <title>3D View</title>
    <property type="bool" key="showTitleBar">false</property>
    <property type="string" key="state">docked</property>
  </gz-gui>
  <engine>ogre</engine>
  <scene>scene</scene>
  <ambient_light>0.75 0.75 0.75</ambient_light>
  <background_color>0.82 0.86 0.9</background_color>
  <camera_pose>-0.667 -1.667 1.34 0 0.42 1.33</camera_pose>
</plugin>

<plugin filename="GzSceneManager" name="Scene Manager">
  <gz-gui>
    <anchors target="3D View">
      <line own="right" target="right"/>
      <line own="top" target="top"/>
    </anchors>
    <property key="resizable" type="bool">false</property>
    <property key="width" type="double">5</property>
    <property key="height" type="double">5</property>
    <property key="state" type="string">floating</property>
    <property key="showTitleBar" type="bool">false</property>
  </gz-gui>
</plugin>

<plugin filename="InteractiveViewControl" name="Interactive view control">
  <gz-gui>
    <anchors target="3D View">
      <line own="right" target="right"/>
      <line own="top" target="top"/>
    </anchors>
    <property key="resizable" type="bool">false</property>
    <property key="width" type="double">5</property>
    <property key="height" type="double">5</property>
    <property key="state" type="string">floating</property>
    <property key="showTitleBar" type="bool">false</property>
  </gz-gui>
</plugin>

<plugin filename="CameraTracking" name="Camera Tracking">
  <gz-gui>
    <anchors target="3D View">
      <line own="right" target="right"/>
      <line own="top" target="top"/>
    </anchors>
    <property key="resizable" type="bool">false</property>
    <property key="width" type="double">5</property>
    <property key="height" type="double">5</property>
    <property key="state" type="string">floating</property>
    <property key="showTitleBar" type="bool">false</property>
  </gz-gui>
  <follow_target>sunray150_assembled</follow_target>
  <follow_offset>-0.233 -0.933 0.467</follow_offset>
  <follow_pgain>0.18</follow_pgain>
</plugin>

<plugin filename="KeyPublisher" name="Key publisher">
  <gz-gui>
    <anchors target="3D View">
      <line own="right" target="right"/>
      <line own="top" target="top"/>
    </anchors>
    <property key="resizable" type="bool">false</property>
    <property key="width" type="double">5</property>
    <property key="height" type="double">5</property>
    <property key="state" type="string">floating</property>
    <property key="showTitleBar" type="bool">false</property>
  </gz-gui>
</plugin>

<plugin filename="MarkerManager" name="Marker manager">
  <gz-gui>
    <anchors target="3D View">
      <line own="right" target="right"/>
      <line own="top" target="top"/>
    </anchors>
    <property key="resizable" type="bool">false</property>
    <property key="width" type="double">5</property>
    <property key="height" type="double">5</property>
    <property key="state" type="string">floating</property>
    <property key="showTitleBar" type="bool">false</property>
  </gz-gui>
</plugin>

<plugin filename="WorldControl" name="World control">
  <gz-gui>
    <title>World control</title>
    <property type="bool" key="showTitleBar">false</property>
    <property type="bool" key="resizable">false</property>
    <property type="double" key="height">72</property>
    <property type="double" key="width">121</property>
    <property type="double" key="z">1</property>
    <property type="string" key="state">floating</property>
    <anchors target="3D View">
      <line own="left" target="left"/>
      <line own="bottom" target="bottom"/>
    </anchors>
  </gz-gui>
  <play_pause>true</play_pause>
  <step>true</step>
  <start_paused>true</start_paused>
  <use_event>true</use_event>
</plugin>

<plugin filename="Screenshot" name="Screenshot">
  <gz-gui>
    <anchors target="3D View">
      <line own="right" target="right"/>
      <line own="top" target="top"/>
    </anchors>
    <property key="resizable" type="bool">false</property>
    <property key="width" type="double">5</property>
    <property key="height" type="double">5</property>
    <property key="state" type="string">floating</property>
    <property key="showTitleBar" type="bool">false</property>
    <property key="cardBackground" type="string">#777777</property>
  </gz-gui>
</plugin>
