<?xml version="1.0"?>
<model>
  <name>wheeltec_aruco_land</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Yundrone TECH</name>
    <email>sunray2023@126.com</email>
  </author>

  <description>
   Pioneer 3AT Mobile Robot with Tag 0
  </description>
</model>

