<launch>
    <!-- 3台UGV集群EGO规划器 -->

    <!-- 地图参数 -->
    <arg name="map_size_x" default="80.0"/>
    <arg name="map_size_y" default="80.0"/>
    <arg name="map_size_z" default="2.0"/>

    <!-- UGV速度参数 -->
    <arg name="max_vel" default="1.0"/>
    <arg name="max_acc" default="1.0"/>

    <!-- UGV1 EGO规划器 -->
    <include file="$(find sunray_simulator)/launch_ego/sunray_ego_ugv.launch">
        <arg name="ugv_id" value="1"/>
        <arg name="drone_id" value="0"/>
        <arg name="map_size_x" value="$(arg map_size_x)"/>
        <arg name="map_size_y" value="$(arg map_size_y)"/>
        <arg name="map_size_z" value="$(arg map_size_z)"/>
        <arg name="max_vel" value="$(arg max_vel)"/>
        <arg name="max_acc" value="$(arg max_acc)"/>
        <arg name="target_x" value="10.0"/>
        <arg name="target_y" value="0.0"/>
    </include>

    <!-- UGV2 EGO规划器 -->
    <include file="$(find sunray_simulator)/launch_ego/sunray_ego_ugv.launch">
        <arg name="ugv_id" value="2"/>
        <arg name="drone_id" value="1"/>
        <arg name="map_size_x" value="$(arg map_size_x)"/>
        <arg name="map_size_y" value="$(arg map_size_y)"/>
        <arg name="map_size_z" value="$(arg map_size_z)"/>
        <arg name="max_vel" value="$(arg max_vel)"/>
        <arg name="max_acc" value="$(arg max_acc)"/>
        <arg name="target_x" value="10.0"/>
        <arg name="target_y" value="2.0"/>
    </include>

    <!-- UGV3 EGO规划器 -->
    <include file="$(find sunray_simulator)/launch_ego/sunray_ego_ugv.launch">
        <arg name="ugv_id" value="3"/>
        <arg name="drone_id" value="2"/>
        <arg name="map_size_x" value="$(arg map_size_x)"/>
        <arg name="map_size_y" value="$(arg map_size_y)"/>
        <arg name="map_size_z" value="$(arg map_size_z)"/>
        <arg name="max_vel" value="$(arg max_vel)"/>
        <arg name="max_acc" value="$(arg max_acc)"/>
        <arg name="target_x" value="10.0"/>
        <arg name="target_y" value="-2.0"/>
    </include>

</launch>
