<?xml version="1.0"?>
<model>
  <name>sunray300_with_2dlidar</name>
  <version>1.0</version>
  <sdf version="1.6">sunray300_with_2dlidar.sdf</sdf>

  <author>
    <name>Yundrone TECH</name>
    <email>sunray2023@126.com</email>
  </author>

  <description>
    This is a model of the sunray with 2D lidar.
  </description>
</model>
