<launch>
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find sunray_tutorial)/config/rosconsole.config"/>
    <arg name="camera_name" default="/sunray/camera/monocular_down" />
    <arg name="image_topic" default="image_raw" />
    <arg name="queue_size" default="1" />

    <node pkg="ellipse_detection_ros" type="ellipse_detection_ros_node" name="ellipse_detection_ros_node" output="screen">
        <remap from="image_rect" to="$(arg camera_name)/$(arg image_topic)" />
        <remap from="camera_info" to="$(arg camera_name)/camera_info" />
        <param name="draw_ellipse_detections_image" type="bool" value="true" />
        <param name="max_candidates" type="int" value="20" />
        <param name="max_center_distance_ratio" type="double" value="0.05" />


        <!-- <param name="algorithm_parameters" type="str" value="$(find ellipse_detection_ros)/config/aruco_detector_params.json" /> -->

        <param name="local_saving_path" type="str" value="$(find sunray_tutorial)/output" />
        <param name="algorithm_params_json" type="str" value="$(find sunray_tutorial)/config/ellipse_detector_params.json" />
        <param name="camera_params_yaml" type="str" value="$(find sunray_tutorial)/config/head_camera.yaml" />
    </node>
</launch>
