<launch>
    <!-- 参数配置 -->
    <arg name="uav_id" default="1"/>
    <arg name="uav_name" default="fmt"/>
    <arg name="flight_height" default="0.6"/>
    <arg name="forward_vel" default="0.5"/>
    <arg name="rotate_speed" default="0.6"/>
    <arg name="obstacle_threshold" default="1000"/>
    <arg name="ratio_threshold" default="0.3"/>
    <arg name="target_x" default="0.0"/>
    <arg name="target_y" default="0.0"/>
    <arg name="target_topic_name" default="/goal_1"/>
    <arg name="clear_obstacle_duration" default="1.4"/>
    <arg name="roll_time" default="0.1"/>

    <!-- 启动简易避障节点 -->
    <node pkg="sunray_tutorial" 
          type="simple_obstacle_avoidance_d435i" 
          name="simple_obstacle_avoidance_d435i" 
          output="screen"
          respawn="false">
        
        <!-- 无人机基本参数 -->
        <param name="uav_id" value="$(arg uav_id)"/>
        <param name="uav_name" value="$(arg uav_name)"/>
        
        <!-- 飞行参数 -->
        <param name="flight_height" value="$(arg flight_height)"/>
        <param name="forward_vel" value="$(arg forward_vel)"/>
        <param name="rotate_speed" value="$(arg rotate_speed)"/>
        <param name="obstacle_threshold" value="$(arg obstacle_threshold)"/>
        <param name="ratio_threshold" value="$(arg ratio_threshold)"/>
        <param name="roll_time" value="$(arg roll_time)"/>
        
        <!-- 初始目标点 -->
        <param name="target_x" value="$(arg target_x)"/>
        <param name="target_y" value="$(arg target_y)"/>
        
        <!-- 动态目标更新话题 -->
        <param name="target_topic_name" value="$(arg target_topic_name)"/>
        
        <param name="clear_obstacle_duration" value="$(arg clear_obstacle_duration)"/>
    </node>
</launch>