<?xml version="1.0" encoding="utf-8" ?>  
<configuration>  
  <configSections>  
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />  
  </configSections>  
  
  <log4net>  
    <!-- 定义日志的级别和Appender -->  
    <root>  
      <level value="DEBUG" />  
      <appender-ref ref="RollingFileAppender" />  
    </root>  
  
    <!-- 文件Appender配置，这里使用RollingFileAppender作为示例 -->  
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">  
      <file type="log4net.Util.PatternString" value="%property{ApplicationLogPath}\\log.log" />  
      <appendToFile value="true" />  
      <rollingStyle value="Size" />  
      <maxSizeRollBackups value="5" />  
      <maximumFileSize value="2MB" />  
      <layout type="log4net.Layout.PatternLayout">  
        <conversionPattern value="[%date] [%-5level] [%logger] [%class - %method - %line - %exception] - %message%newline" />  
      </layout>  
    </appender>  
  </log4net>  
</configuration>