<?xml version="1.0"?>
<launch>

    <arg name="vehicle" default="sunray150"/>
    <arg name="world" default="$(find sunray_simulator)/worlds/move_car_down.world"/>
    <arg name="gazebo_enable" default="true"/>

    <!-- gazebo configs -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>
    <!-- Gazebo sim -->
    <group if="$(arg gazebo_enable)">
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world_name" value="$(arg world)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="false"/>
    </include>
    </group>

    <!--无人机编号-->
    <arg name="uav_id" default="1"/>
    <!-- 无人机初始位置 -->
    <arg name="uav_init_x" default="0.0"/>
    <arg name="uav_init_y" default="0.0"/>
    <arg name="uav_init_yaw" default="0.0"/>

    <!-- UAV1 -->
    <group ns="uav$(arg uav_id)">
        <include file="$(find sunray_simulator)/launch_basic/sunray_px4_basic.launch">
            <arg name="uav_id" value="$(arg uav_id)" />
            <arg name="vehicle" value="$(arg vehicle)" />
            <arg name="uav_init_x" value="$(arg uav_init_x)"/>
            <arg name="uav_init_y" value="$(arg uav_init_y)"/>
            <arg name="uav_init_yaw" value="$(arg uav_init_yaw)"/>
        </include>
    </group>
</launch>
