<?xml version="1.0"?>
<launch>
	<!-- Gazebo 配置 -->
    <arg name="gazebo_enable" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="world" default="$(find sunray_simulator)/worlds/planning_test.world"/>
    <!-- 启动 Gazebo -->
    <group if="$(arg gazebo_enable)">
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" value="$(arg world)"/>
            <arg name="gui" value="$(arg gui)"/>
			<arg name="use_sim_time" value="false"/>
        </include>
    </group>

    <!-- 无人机配置 -->
    <!-- 无人机模型名称 -->
    <arg name="vehicle" default="sunray150_with_mid360"/>
    <!--无人机编号-->
    <arg name="uav_id" default="1"/>
    <!-- 无人机初始位置 -->
    <arg name="uav_init_x" default="1.0"/>
    <arg name="uav_init_y" default="1.0"/>
    <arg name="uav_init_yaw" default="0.0"/>

    <!-- UAV1 -->
    <include file="$(find sunray_simulator)/launch_basic/sunray_px4_basic.launch">
        <arg name="uav_id" value="$(arg uav_id)" />
        <arg name="vehicle" value="$(arg vehicle)" />
        <arg name="uav_init_x" value="$(arg uav_init_x)"/>
        <arg name="uav_init_y" value="$(arg uav_init_y)"/>
        <arg name="uav_init_yaw" value="$(arg uav_init_yaw)"/>
    </include>
</launch>