<?xml version="1.0"?>
<model>
  <name>sunray150</name>
  <version>0.0</version>
  <sdf version="1.6">sunray150.sdf</sdf>

  <name>Yao</name>
  <email>554123904@qq.com</email>
  <name>Yundrone TECH</name>
  <email>sunray2023@126.com</email>

  <description>
   This is a sunray model with camera.
  </description>
</model>
