<launch>
    <!-- world配置，注意选择正确的路径 -->
    <arg name="world" default="$(find sunray_simulator)/worlds/detection_worlds/aruco_6X6_250.world"/>
    <!-- <arg name="world" default="$(find sunray_simulator)/worlds/land_marker.world"/> -->
    <!-- <arg name="world" default="$(find sunray_simulator)/worlds/single_aruco.world"/> -->
    <!-- <arg name="world" default="$(find sunray_simulator)/worlds/land_aruco.world"/> -->

	<!-- Gazebo 配置 -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>
    <!-- Gazebo sim -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world_name" value="$(arg world)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="false"/>
    </include>
</launch>
