<launch>
    <arg name="uav_id" default="1" />
    <arg name="uav_name" default="uav" />
    <arg name="x_min" default="-20.0" />
    <arg name="x_max" default="20.0" />
    <arg name="y_min" default="-20.0" />
    <arg name="y_max" default="20.0" />
    <arg name="z_min" default="-20.0" />
    <arg name="z_max" default="20.0" />
    <arg name="land_type" default="0" />
    <arg name="land_end_time" default="1.0" />
    <arg name="land_end_speed" default="0.3" />
    <arg name="Takeoff_height" default="0.6" />
    <arg name="Disarm_height" default="0.2" />
    <arg name="Land_speed" default="0.1" />
    <arg name="home_x" default="0.0" />
    <arg name="home_y" default="0.0" />
    <arg name="home_z" default="0.0" />
    <arg name="home_yaw" default="0.0" />
    <arg name="use_rc_control" default="false" />
    <arg name="check_cmd_timeout" default="false" />
    <arg name="cmd_timeout" default="5.0" />
    <arg name="use_offset" default="false" />

    <arg name="uav_num" default="3"/>

    <!-- uav1 -->
    <node name="uav_control_node_$(arg uav_id)" pkg="sunray_uav_control" type="uav_control_node" output="screen">
        <param name="uav_id" value="$(arg uav_id)" />
        <param name="uav_name" value="$(arg uav_name)" />
        <!-- 起飞高度 | 降落第一阶段高度 | 降落速度 -->
        <!-- 降落模式 1：调用px4 auto.land 其他：指定高度锁桨 -->
        <param name="flight_params/Takeoff_height" value="$(arg Takeoff_height)" />
        <param name="flight_params/land_type" value="$(arg land_type)" />
        <param name="flight_params/Disarm_height" value="$(arg Disarm_height)" />
        <param name="flight_params/Land_speed" value="$(arg Land_speed)" />
        <!-- 降落最后一阶段需要的时间和速度 -->
        <param name="flight_params/land_end_time" value="$(arg land_end_time)" />
        <param name="flight_params/land_end_speed" value="$(arg land_end_speed)" />
        <!-- 默认home点 -->
        <param name="flight_params/home_x" value="$(arg home_x)" />
        <param name="flight_params/home_y" value="$(arg home_y)" />
        <param name="flight_params/home_z" value="$(arg home_z)" />
        <!-- 安全围栏 超出会降落 -->
        <param name="geo_fence/x_min" value="$(arg x_min)" />
        <param name="geo_fence/x_max" value="$(arg x_max)" />
        <param name="geo_fence/y_min" value="$(arg y_min)" />
        <param name="geo_fence/y_max" value="$(arg y_max)" />
        <param name="geo_fence/z_min" value="$(arg z_min)" />
        <param name="geo_fence/z_max" value="$(arg z_max)" />
        <!-- 是否使用遥控器控制 如果不使用则不允许进入RC_CONTROL模式，允许在解锁前切换到offboard模式再解锁-->
        <param name="system_params/use_rc_control" value="$(arg use_rc_control)" />
        <!-- 是否检测指令超时 允许两条指令之间的时长 超时后进入悬停-->
        <param name="system_params/check_cmd_timeout" value="$(arg check_cmd_timeout)" />
        <param name="system_params/cmd_timeout" value="$(arg cmd_timeout)" />
        <!-- 定位超时警告和降落时间 -->
        <param name="system_params/odom_valid_timeout" value="0.5" />
        <param name="system_params/odom_valid_warming_time" value="0.3" />
        <!-- 是否加上初始偏移 只对NED的位置控制有效 解锁位置设置为原点(0,0,0) 适用于GPS或RTK模式 -->
        <param name="system_params/use_offset" value="$(arg use_offset)" />
    </node>

    <!-- Recursively generate UAV nodes -->
    <include file="$(find sunray_uav_control)/launch/sunray_control_node_swarm.launch" if="$(eval (arg('uav_num') > arg('uav_id')))">
        <arg name="uav_id" value="$(eval arg('uav_id') + 1)" />
        <arg name="uav_num" value="$(arg uav_num)" />
    </include>
</launch>