<!-- move_base_simple/goal转为三个平行的目标点 供ego中的每个飞机指明目标点-->
<launch>
    <arg name="uav_id" default="1" />
    <arg name="uav_name" default="uav" />
    <arg name="uav_num" default="1" />
    <arg name="goal_type" default="1" />
    <arg name="offset" default="1.0" />
    <arg name="offset_direction" default="0" />  <!-- 0: 垂直偏移(排成一排), 1: 水平偏移(排成一列) -->
    <arg name="goal_topic" default="goal" />
    <arg name="use_hight" default="true" />
    <arg name="z_height" default="1.0" />
    <arg name="waypoint_file" default="/home/yundrone/Sunray/General_Module/sunray_planner/Utils/config/waypoint.yml" />

    <node name="goal2swarm" pkg="sunray_planner_utils" type="goal2swarm" output="screen">
        <param name="uav_id" value="$(arg uav_id)" />
        <param name="uav_name" value="$(arg uav_name)" />
        <param name="uav_num" value="$(arg uav_num)" />
        <param name="goal_type" value="$(arg goal_type)" />
        <param name="offset" value="$(arg offset)" />
        <param name="offset_direction" value="$(arg offset_direction)" />
        <param name="goal_topic" value="$(arg goal_topic)" />
        <param name="use_hight" value="$(arg use_hight)" />
        <param name="z_height" value="$(arg z_height)" />
        <param name="waypoint_file" value="$(arg waypoint_file)" />
    </node>

</launch>
